# backend
PROJECT_NAME="Fullstack application"
SECRET_KEY=23234f0258fd765a2a8351bbf9e9b6fb57ddd9e8a63ca6a53d049d6aaf4b60ec
FIRST_SUPERUSER_NAME=admin
FIRST_SUPERUSER_PASSWORD=changethis
BACKEND_PORT=8000

# database
POSTGRES_HOST=localhost
POSTGRES_PORT=54320
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changethis

# registry
DOCKER_IMAGE_BACKEND=fullstack-template-backend
TAG=latest